*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
}

/* propiedades de barra menu */

header {
    position: absolute;
    width: 100%;
    height: 69px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

nav {
    font-size: 14px;
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-style: normal;
    font-weight: 600;
}

.logo {
    font-size: 22px;
    letter-spacing: 2px;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.nav-menu-link {
    color: #687782;
}

.nav-menu-link, .button {
    text-decoration: none;
    font-family: 'Manrope';
}

.logo {
    margin-left: 128px;
}

.button-work {
    display: flex;
    align-items: center;
    margin-right: 128px;
    padding: 8px;
    gap: 10px;
    height: 36px;
    top: 12px;
    background: #6A9B92;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.button-work a {
    color: #FFFFFF;
}

.button-work img {
    filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(51deg) brightness(117%) contrast(93%);
}

    /* Efectos hover de barra de menu */

.nav-menu-link:hover {
    color: #273B49;
    border-top: 3px solid #6A9B92;
    padding-top: .5em;
    transition: 1s ease all;
}
    
.button-work:hover {
    background: #273B49;
    transition: 1s ease all;
}

/* contenedor 2 */

.cont2 {
    height: 100vh;
    display: flex;
    padding: 100px;
}

.cont2-card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0px 128px;
}

.cont2-titulo, .cont2-parrafo, .cont2-button-card {
    padding-bottom: 20px;
}

.cont2-button-card {
    display: flex;
}

.cont2-button-card a {
    text-decoration: none;
}

.cont2-button-card-izq {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 36px;
    top: 12px;
    background: #6A9B92;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.cont2-button-card-izq a {
    color: #FFFFFF;
}

.cont2-button-card-izq img {
    filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(51deg) brightness(117%) contrast(93%);
}



.cont2-pretitulo {
    color: #8E9BA4;
}

/* content 7 */

.cont7-card{
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 100px 110px;
}

.cont7-izq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont7-der {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont7-redes {
    display: flex;
    gap: 32px;
}

.cont7-accesos {
    display: flex;
    gap: 115px;
}

.cont7-accesos a {
    text-decoration: none;
    color: #8E9BA4;
}

.cont7-accesos-inicio, .cont7-accesos-proyectos, .cont7-accesos-acercademi, .cont7-accesos-trabajemosjuntos {
    padding-bottom: 15px;
}

.cont7-contactame {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cont7-datos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cont7-datos-telefono {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cont7-datos-correo {
    display: flex;
    gap: 12px;
}

    /* Efectos hover de barra de menu */

.cont7-icon-linked:hover {
    filter: invert(26%) sepia(64%) saturate(2605%) hue-rotate(179deg) brightness(96%) contrast(89%);
    transition: 1s ease all;
}

.cont7-icon-whats:hover {
    filter: invert(59%) sepia(87%) saturate(422%) hue-rotate(90deg) brightness(96%) contrast(87%);
    transition: 1s ease all;
}

.cont7-icon-insta:hover {
    filter: invert(30%) sepia(100%) saturate(1378%) hue-rotate(299deg) brightness(79%) contrast(88%);
    transition: 1s ease all;
}

.cont7-icon-face:hover {
    filter: invert(32%) sepia(76%) saturate(417%) hue-rotate(180deg) brightness(90%) contrast(93%);
    transition: 1s ease all;
}

.link-acceso:hover {
    color: #E2928D;
    transition: 1s ease all;
}


